<nav class="navbar navbar-expand-sm navbar-dark  fixed-top bg-dark" role="navigation">
    <a class="navbar-brand" href="home">PIZZA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="home">{{user.name}}</a></li>
            <li class="nav-item active"><a class="nav-link" href="menu">Menu</a></li>
            <li class="nav-item"><a class="nav-link" href="order">Order</a></li>
        </ul>
        <a class="nav-link" href="cart"><i class="fas fa-shopping-cart" id="nav">
                <div class="d-inline ml-1" id="cartCount">{{cartCount}}</div>
            </i></a>
        <a class="nav-link" href="logout" id="nav"><i class="fas fa-sign-out-alt"></i> Log Out</a>
    </div>
</nav>
<main role="main" class="container">
    <div class="card-columns">
        {{#each poducts}}
        <div class="card">
            <img class="card-img-top" src="/{{this.image}}" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <label>{{this.price}}</label>
                <div>
                    <label>quantity: </label>
                    <input style="width: 40px;" type="number" name="{{this.id}}" id="{{this.id}}" value="0"></input>
                </div>
                <button type="button" class="btn btn-link"
                    onclick="addCart({{this.id}},  document.getElementById('{{this.id}}').value*1)"><i
                        class="fas fa-cart-plus"></i>Add Cart</button>
            </div>
        </div>
        {{/each}}
        <div class="card" style="witdth: 8rem;">
            <img class="card-img-top" src="/" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">Custom Pizza</h5>
                <p class="card-text">
                    {{#each customizations}}
                    <div>
                        <input type="checkbox" name="" id="" value="{{this.id}}">
                        <label>{{this.name}}</label>
                        <label class="pull-right">$1</label>
                    </div>
                    {{/each}}
                </p>
                <label>$8 </label>
                <div>
                    <label>quantity: </label>
                    <input style="width: 40px;" type="number" name="custom" id="custom"></input>
                </div>
                <button type="button" class="btn btn-link"
                    onclick="addCustom(document.getElementById('custom').value*1)"><i
                        class="fas fa-cart-plus"></i>Add Cart</button>
            </div>
        </div>
    </div>
</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/active.js"></script>