<nav class="navbar navbar-expand-sm navbar-dark  fixed-top bg-dark" role="navigation">
    <a class="navbar-brand" href="home">PIZZA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="home">{{user.name}}</a></li>
            <li class="nav-item active"><a class="nav-link" href="menu">Menu</a></li>
            <li class="nav-item"><a class="nav-link" href="order">Order</a></li>
        </ul>
    <a class="nav-link" ><i class="fas fa-shopping-cart" id="nav"><div class="d-inline ml-1" id="cartCount">{{cartCount}}</div></i></a>
    <a class="nav-link" href="logout" id="nav"><i class="fas fa-sign-out-alt"></i> Log Out</a>
    </div>
</nav>
<main role="main" class="container">
    <div class="card-columns">
        {{#each poducts}}
        <div class="card" style="witdth: 8rem;">
            <img class="card-img-top" src="/{{this.image}}" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <label>{{this.price}} </label>
                <input type="number" name="{{this.id}}" id="{{this.id}}">quantity</input>
                <button type="button" class="btn btn-link" onclick="addCart({{this.id}}, document.getElementById('{{this.id}}').value*1)"><i class="fas fa-cart-plus"></i>Add Cart</button>
            </div>
        </div>
        {{/each}}
        <div class="card" style="witdth: 8rem;">
            <img class="card-img-top" src="/images/veggie.jpg" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">Customize</h5>
                <p class="card-text">Customization</p>

                <a href="" class="card-link pull-right"><i class="fas fa-cart-plus"></i>Add Cart</a>
            </div>
        </div>
    </div>
</main>
<div class="container">
    <div id="cartCount">{{cartCount}}</div>
    {{#each products}}
        <p>{{this.name}}</p>
        <button type="button" class="btn btn-primary" 
        onclick="addToCart({{this.id}}, 1)">Add to Cart</button>
        <img src="{{this.image}}" width="200" alt="{{this.name}}">
    {{/each}}
    <h2>Build your own!</h2>
    {{#each customizations}}
        <input type="checkbox" value="{{this.id}}">
        <label>{{this.name}}</label>
    {{/each}}
    <button type="button" onlick="addCustomPizza(1)">Add Custom Pizza</button>
    <br>
</div>
<script src="http://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/javascripts/cart.js'></script>
